# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.ico

# Images
*.png
*.jpg
*.jpeg
*.bmp
*.gif

# BlueGryphon Files
*.bak

# other files to ignore
*.DS_Store

# Office/PDF
*.xls
*.xlsx
*.doc
*.docx
*.pdf

#zipped
*.zip
*.7z

